* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'norse';
    src: 
      url(./fonts/norse/norse-webfont.woff) format('woff'),
      url(./fonts/norse/norse-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    position: relative;
    margin: 0 auto;
    height: 100vh;
    background-image: 
    url(./pic/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.rightside-wrapper {
    position: relative;
    width: 70%;
    height: 100vh;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10vh 0;
    transition: all 0.3s ease;
}

.log-wrapper {
    font-size: 75px;
    font-weight: bold;
    color: white;
    position: absolute;
    width: 30%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 17vh;
    transition: all 0.3s ease;
}

.odin-image {
    height: 1.25em;
    width: auto;
}

.odin {
    font-family: 'norse', sans-serif;
}

.title {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    margin-left: 5vw;
}

.legend {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

form {
    width: 100%;
    height: 40vh;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px 5vw;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 75px;
}

.form-part > label {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 1px;
    font-weight: 300;
}

.form-part > input {
    width: 200px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    height: 25px;
}

button[type='submit'] {
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 1em 3em;
    border-radius: 8px;
    border: none;
    background-color: #cc0099;
    margin-left: 5vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.footer {
    font-weight: 300;
    font-size: 18px;
    margin-left: 5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p > span {
    color: #cc0099;
}

p > span:hover {
    cursor: pointer;
}

input[type='password']:user-invalid {
    border: 1px solid red;
}

input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.toggle-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #cc0099;
    left: -15px;
    top: 50%;
    font-size: 15px;
    color: white;
}

.toggle-btn:hover {
    cursor: pointer;
}

.collapse {
    width: 100vw;
}

.log-move {
    transform: translateX(70vw);
    z-index: 1;
}